@charset "utf-8";
@import "normalize";

// Parameters of the layout. In typography we set 1 rem = 22 px.

$header-height: 111px; // desktop logo is 103px high; 4px padding
$sidebar-width: 300px;
$max-content-width: 792px; // =36rem
$content-break-width: 528px; // =24rem
$breakpoint: $sidebar-width + $content-break-width + $sidebar-width;
$page-padding: 15px;
$neg-page-padding: -15px;
$sidebar-bg-color: #fcfcfc;
$text-color: #111;
$link-hover-color: #1010e0;
$edge-color: #e0e0e0;
$rule-color: #d0d0d0;
$menu-bar-height: 50px;
$deemph-color: #999;
$background-color: #fff;
$icon-hover-color: #000;

@import "typography";
@import "content";
@import "layout";
@import "chrome";
